<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Student</title>
</head>
<body>
  <h1>New Student Form</h1>

  <form method="POST" action="/students">
    <label>Student name:</label>
    <input type="text" name="studentName" />
    <br/>
    <label>Student house:</label>
    <input type="text" name="studentHouse" />
    <br/>
    <label>Student year:</label>
    <input type="number" name="studentYear" />
    <br/>

    <button type="submit">Create new student!</button>
  </form>
</body>
</html>