<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <a href="/about">About</a>
  <h1>Home Page</h1>

  <h1><%= heading %></h1>

  <h3><%= body %></h3>

  <div>
    <a href="/languages/en">en</a>
    <a href="/languages/fr">fr</a>
    <a href="/languages/ja">ja</a>
    <a href="/languages/ko">ko</a>
    <a href="/languages/es">es</a>
    <a href="/languages/so">so</a>
  </div>
</body>
</html>
