<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
</head>
<body>
  <a href="/login">Already registered? Login instead</a>
  <h2>Register for the app!</h2>

  <form method="POST" action="/register">
    <label>Email:</label>
    <input type="text" name="email" />
    <br/>
    <label>Password:</label>
    <input type="text" name="password" />
    <br/>
    <button type="submit">Register!</button>
  </form>
</body>
</html>
