<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Cat</title>
</head>
<body>
  <a href="/cats">Home</a>
  <h1>Just One</h1>

  <h1>Name: <%= cat.name %></h1>
  <h2>Breed: <%= cat.breed %></h2>
</body>
</html>
